body {
    background-color: #9AC8CD;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1em 1em 1em 1em;
    transition: 0.5s;
    background-color: #E1F7F5;
    padding: 1em;
    font-size: 28px;
    min-width: 10em;
}

p {
    font-size: 5em;
    text-align: center;
}

.button {
    flex-direction: row;
}

.container__button {
    border-radius: 5px;
    padding: 1em;
    background-color: #1E0342;
    color: white;
}
